/* Estilos globais (reset, variáveis, tipografia) */
@import url('./variables.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--base-font-family);
}

html{
    scroll-behavior: smooth;
}


img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

audio {
    appearance: none;
    outline: none;
}
