/* Estilos globais (reset, variáveis, tipografia) */
@import url('./variables.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: var(--base-font-family);
}

html{
    scroll-behavior: smooth;
}

#container {
    background-image: url(../img/princesas-disney.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
