/* Estilos de componentes reutilizáveis (botões, cards) */
@import url('./variables.css');

.modal {
    display: none ;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 25px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.modal-content h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    z-index: 2;
}

.modal-image>img {
    position: absolute;
    top: -5px;
    left: 21px;
    width: 95%;
    height: auto;
    opacity: 0.3; /* Transparência da imagem */
    z-index: 1;
}

.modal-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    z-index: 2; /* Para garantir que o texto fique acima da imagem */
}

#username {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

#start-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: #c3c6c9;
}

@media (max-width: 600px) {
    .modal-content {
        padding: 20px;
        margin: 20% auto;
    }

    .modal-content h2 {
        font-size: 1.25rem;
    }

    .modal-image>img {
        width: 70%;
    }
}

#cabecalho-principal {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.content-time {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#container-formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: linear-gradient(to bottom, #f59d92, #f1ffd5);
    width: 70%;
    height: 50%;
    margin-bottom: 5rem;
}

#container-fieldset {
    margin-top: 2rem;
    border-width: 0;
}

#pergunta-principal {
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #c3c6c9;
}

#container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem {
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#perguntas {
    padding: 2rem;
    border-radius: 4rem 0 4rem 0;
    background-color: crimson;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

#container-perguntas {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

#texto-perguntas {
    font-size: 2rem;
}

#container-butao {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    width: 100dvh;
}

#enviar-pergunta {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1.50rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #f1ffd5;
}

#enviar-pergunta:hover {
    background-color: #f59d92;
}
