:root {
    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #054461;
    --subtitle-color: #fff4f4;
    --color-text: #000000;
    --border-color:#5c29e5;
    --bg-color:#c316f4;
    --bg-component-color: #f5fe01;
    --title-color: #f5fe01;
    --buttom-color: #f5fe01;
    /* Fonts */
    --title-font-size: 5rem;
    --base-font-size: 1.5rem;
    /* Gradients */
     --primary-radial-gradient:  linear-gradient(88.76deg, rgba(252, 230, 38, 1) -100%, rgba(243, 90, 155, 1) 100%);
    --primary-linear-gradient: linear-gradient(90deg, var(--primary-color) 0%, rgb(56, 156, 255) 100%);
     --off-linear-gradient: linear-gradient(90deg, var(--primary-color) 0%, rgb(146, 156, 166) 100%);

    /* Vertical Inner Padding */

    /* Horizontal Inner Padding */

    /* Border Radius */

    /* Font-Size */

    /* Font- Styles */
    --base-font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', 'sans-serif';
    --font-family-disney: 'New Walt Disney Font', sans-serif;

}