:root {
    /* Colors */
    --primary-color: #a728a3;
    --secondary-color: ;


    /* Fonts */

    /* Vertical Inner Padding */

    /* Horizontal Inner Padding */

    /* Border Radius */

    /* Font-Size */

    /* Font- Styles */
    --base-font-family: 'Montserrat', sans-serif;

}