:root {
    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #008BA3 ;
    --bg-color:#a728a3;

    /* Fonts */

    /* Vertical Inner Padding */

    /* Horizontal Inner Padding */

    /* Border Radius */

    /* Font-Size */

    /* Font- Styles */
    --base-font-family: 'Montserrat', sans-serif;

}